/* sm 576px -->      */
@media screen and (min-width:576px) {
    .sm-50 {
        width: 50%;
    }

    .sm-33 {
        width: 33.333%;
    }

    .sm-25 {
        width: 25%;
    }

    .sm-20 {
        width: 20%;
    }

    .sm-16 {
        width: 16.66%;
    }



}

/* md 768px  -->    */
@media screen and (min-width:768px) {
    .md-50 {
        width: 50%;
    }

    .md-33 {
        width: 33.333%;
    }

    .md-25 {
        width: 25%;
    }

    .md-20 {
        width: 20%;
    }

    .md-16 {
        width: 16.66%;
    }



    #testimonials .carousel-control-prev,
    #testimonials .carousel-control-next {
        display: block;
    }

    #contact-us .left-side {
        padding: 40px;
    }

    #contact-us form .form-row {
        margin-bottom: 24px;
    }

    /*Fonts*/
    .section-title h2 {
        font-size: 36px;
        line-height: 40px;
    }

    #testimonials .carousel-inner {
        padding-inline: 80px;
    }

}

/* lg 992px  -->       */
@media screen and (min-width:992px) {
    .lg-50 {
        width: 50%;
    }

    .lg-33 {
        width: 33.333%;
    }

    .lg-25 {
        width: 25%;
    }

    .lg-20 {
        width: 20%;
    }

    .lg-16 {
        width: 16.66%;
    }

    .navbar {
        height: 80px;
    }




    /*shapes*/
    nav .dropdown-menu .resources .resource-card .circulare-shape {
        display: block;
    }

    #main-nav .dropdown-menu {
        width: 900px;
        position: absolute;
        left: 20%;
        top: 100%;
        transform: translateX(-66.666%);
        border: none;
        z-index: 50;
        max-height: 100vh;
    }

    /*Nav bar*/

    #main-nav .navbar-collapse.show,
    .navbar-collapse.collapsing {
        border: none;
    }

    .navbar-collapse .nav-link.active::after,
    .navbar-collapse .nav-link:hover::after {
        width: 100%;
    }

    .navbar-collapse.show .nav-link:hover {
        background-color: transparent;
    }

    /*Hero section Start*/
    #hero {
        padding-top: 80px;
        padding-bottom: 0;
    }

    /*Hero section End*/
    /*Contact Us start*/
    #contact-us .circular-shape,
    #contact-us .empty-circular-shape {
        display: block;
    }

    /*Contact Us end*/

    /*Fonts*/
    #hero h1 {
        font-size: 60px;
        line-height: 75px;
    }

    .section-title h2 {
        font-size: 48px;
        line-height: 48px;
    }
}

/* xl 1200px  -->       */
@media screen and (min-width:1200px) {
    .xl-50 {
        width: 50%;
    }

    .xl-33 {
        width: 33.333%;
    }

    .xl-25 {
        width: 25%;
    }

    .xl-20 {
        width: 20%;
    }

    .xl-16 {
        width: 16.66%;
    }

    #main-nav .dropdown-menu {
        width: 1150px;
    }




}

/* xxl 1400px  -->       */
@media screen and (min-width:1400px) {
    .xxl-50 {
        width: 50%;
    }

    .xxl-33 {
        width: 33.333%;
    }

    .xxl-25 {
        width: 25%;
    }

    .xxl-20 {
        width: 20%;
    }

    .xxl-16 {
        width: 16.66%;
    }

}